.about{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
    align-items: center;
    box-sizing: border-box;
    background-image: url("bg2.jpg");
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.content div{
    width: 40%;
}

.heading h1{
    color: white;
    margin-top: 10px;
}

.text p{
    color: white;
    text-align: center;
    cursor: auto;
    width: 100%;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    padding-bottom: 20px;
}
.image img{
    width: 55%;
    animation: robo 5s linear infinite alternate;
}

.image , .text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

@keyframes robo {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}

@media (max-width:992px){
    .content div{
        width: 90%;
        margin-top: 40px;
    }
    .text p{
        font-size: 16px;
    }
}
