.about {
    height: 30vw;
    width: 100%;
    padding-top: 0.5rem;
    background-image: url(./bg2.jpg);
}

.container{
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

section {
    display: block;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.about .title {
    text-align: center;
    color: rgb(255, 255, 255);
}

@media (min-width:1400px){
    .container{
        max-width: 1320px;
    }
}

@media (min-width:1200px) and (max-width:1400px){
    .container{
        max-width: 1140px;
    }
}

@media (min-width:992px) and (max-width:1200px){
    .container{
        max-width: 960px;
    }
}

@media (min-width:768px) and (max-width:992px){
    .container{
        max-width: 720px;
    }
}

@media (min-width:568px) and (max-width:768px){
    .container{
        max-width: 540px;
    }
}

.container, .container-fluid{
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

div {
    display: block;
}

.about .title h2 {
    font-size: 3rem;
}

@media (min-width:1200px)  and (max-width:1400px){
    h2{
        font-size: 2rem;
    }
}

h2{
    font-size: calc(1.325rem + 0.9vw);
}

h2{
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}



.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

@media (min-width:992px){
    .col-lg-6{
        flex: 0 0 auto;
        width: 50%;
    }
}

.about .title .about_hero__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-animation: anime_hero 10s linear infinite alternate;
    animation: anime_hero 10s linear infinite alternate;


    // width: fit-content;
}


@keyframes anime_hero{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.8);
    }
}

.about .title .about_hero__text {
    // margin-top: 14rem;
    height: 45vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.about .title .about_hero__text h4 {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 500;
}

@media (min-width:1200px) and (max-width:1400px){
    h4{
        font-size: 1.5rem;
    }
}

h4 {
    font-size: calc(1.275rem + .3vw);
}

h4 {
    margin-top: 3rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

@media (max-width: 1000px){
    .about {
        height: 200vw;
    }
}

.about .title .about_hero__img img {
    -webkit-filter: drop-shadow(0 1.5rem 1rem rgba(0, 0, 0, 0.8));
    filter: drop-shadow(0 1.5rem 1rem rgba(0, 0, 0, 0.8));
    height: 80%;
}

@media (max-width:733px){
    .about .title h2 {
        font-size: 2rem;
    }
    .about .title .about_hero__text h4 {
        color: rgb(255, 255, 255);
        font-size: 1rem;
        font-weight: 500;
    }
}