.galleryimage {
  height: 45rem;
  width: 100%;
  padding-top: 20%;
}
#gallery {
  height: 600px;
  padding: 20%;
  background-image: url("bg3.jpg");
}
h4 {
  text-align: center;
  padding-top: 10%;
  color: blue;
}
