@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

.Footer_table {
  padding-top: 2rem;
  margin-left: 5rem;
  font-family: "Acme", sans-serif !important;
  font-size: large;
}

.list {
  list-style: none;
}
.list-1-head {
  padding-bottom: 1rem;
}
.list-1-item {
  padding-top: 0.5rem;
}

.elem-2 {
  padding-left: 12em;
  padding-top: 0em;
}
.list-2-head {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.button {
  background-color: #b71540;
  color: white;
  margin-left: 2rem;
  border-radius: 2rem;
}
.message {
  width: 20em;
  border-radius: 5rem;
}

.link-color {
  color: white !important;
}
.social_handles {
  margin-left: 1.5em;
  margin-top: 2em;
}
.icon {
  margin: 1em;
  color: white;
  padding: 1em;
}

.btn-icon {
  border: none;
  height: 3em !important;
  width: 3em !important;
  border-radius: 2em;
}
.btn-icon:hover {
  background-color: maroon;
}
.footercontainer {
  overflow: hidden;
  /* margin-top: 250px; */
  background: #18152b;
  color: white !important;
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 0;
  padding-bottom: 0;
}

@media (max-width: 480px) {
  .list-1-item {
    font-size: small;
    width: 200%;
  }
  .list-1-head {
    font-size: small;
    margin-top: 2rem;
  }
  .Footer_table {
    margin-left: 0px;
  }
  .elem-2 {
    padding-left: 0em;
    font-size: small;
  }
  .list-2-head {
    font-size: 1rem !important;
  }
  .message {
    width: 8em;
  }
  .button {
    margin-left: 0rem;
  }
  .list {
    margin-top: 2rem;
  }

  .social_handles {
    margin-left: 65%;
    width: 300%;
  }
}
@media (max-width: 768px) and (min-width: 481px) {
  .list-1-item {
    font-size: medium;
    width: 200%;
  }
  .list-1-head {
    font-size: medium;
    margin-top: 2rem;
  }
  .Footer_table {
    margin-left: 0px;
  }
  .elem-2 {
    padding-left: 10em;
    font-size: medium;
  }
  .list-2-head {
    font-size: 1rem !important;
  }
  .message {
    width: 20em;
  }
  .button {
    margin-left: 0rem;
  }
  .list {
    margin-top: 2rem;
  }

  .social_handles {
    margin-left: 150%;
    width: 300%;
  }
}
@media (max-width:1024px) and (min-width:769px){
  .social_handles{
    margin-left: 150%;
    width: 300%;
  }
}
