.map{
  margin: 5vh 0;
  padding: 0 5vw;
}
p{
  margin: 25vh 5vw;
  cursor: pointer;
}
a{
  color: black;
  text-decoration: none;
}
.map-h2 {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px 20px 20px 10px;
  text-align: center;
}
.mapEle{
  height: 50vh;
}